@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: 'Gyrochrome';
  src: url('./assets/fonts/GyrochromeVF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #C62222;
  --toastify-color-error-light: hsl(6 62.5% 90.59%);
  --toastify-color-info-light: #DCE2E6;
  --toastify-color-success-light: #EAF2EA;
  --toastify-color-warning-light: #E8E3D0;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  
  --toastify-container-width: fit-content;
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-padding: 14px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;
}

@theme {
    /* Base brand colors */
    --color-primary: #1798e0;
    --color-primary-dark: #0972AD; /* tono más oscuro */
    --color-primary-light: #a8dfff; /* tono claro para fondos suaves o estados hover */
 
    /* Fondo y superficies claras */
    --color-background: #FFFFFF36; /* fondo principal: blanco */
    --color-background-2: #F5F7FAD1; /* fondo secundario: gris muy claro */
    --color-surface: #f5f7fa; /* superficie: gris muy claro para tarjetas y secciones */

  
    /* Tipografía */
    --color-text: #232323; /* texto principal: gris casi negro */
    --color-text-soft: #4b5563; /* texto menos destacado: gris medio */
    --color-text-muted: #6b7280; /* texto secundario o desactivado */
  
    /* Bordes y separadores */
    --color-border: #d1d5db; /* gris claro para líneas divisorias */
  
    /* Acentos y detalles */
    --color-primary-accent: #3ab0f9; /* un azul intermedio para íconos, enlaces, etc */

    /* Botones */
    --color-btn-hover: #1283C2;
    --color-btn-active: #0972AD;
    --gradient-primary: linear-gradient(180deg, #232323 0%, #1798e0 100%);

    /* Nuevo Botón Gradiente */
    --color-btn-gradient-bottom: #035C97;
    --color-btn-gradient-top: #1798E0;
    --color-btn-gradient-border: #1798E0;
    --color-btn-whatsapp: #25D366;

    /* Footer */
    --color-footer: #2F2F2F;
    --color-gray: #36454F	;
    --footer-bluemain: #1798E0;
    --footer-bluedark: #012F4A;
    --footer-bluelight: #4DB8F0;
    --footer-gradient: radial-gradient(circle at center, #1798E0 94%, #012F4A 100%);

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background-2);
}

h1, h2 {
  font-family: 'Gyrochrome', sans-serif;
}

.bg-exercises-wallpaper {
  min-height: 100vh;
  background-image: url('/img/exercises-wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-exercises-wallpaper-long {
  
  background-image: url('/img/exercise-wallpaper-long.png');
  background-size: cover;
  
  
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
}

.Toastify__toast-container {
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
}
.Toastify__toast-container--bottom-right {
}

/** Classes for the displayed toast **/
.Toastify__toast {
  border-radius: 1rem !important;
}
.Toastify__toast--rtl {
}

/** Used to position the icon **/
.Toastify__toast-icon {
  display: none !important;
}

.Toastify__toast-body {
  @apply p-0 m-0 flex items-center gap-3;
}

/** handle the notification color and the text color based on the theme **/
.Toastify__toast-theme--dark {
}
.Toastify__toast-theme--light {
}
.Toastify__toast-theme--colored.Toastify__toast--default {
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: var(--toastify-color-info-light) !important;
  border: 2px solid var(--toastify-color-info) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--toastify-color-success-light) !important;
  border: 2px solid var(--toastify-color-success) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  background-color: var(--toastify-color-warning-light) !important;
  border: 2px solid var(--toastify-color-warning) !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--toastify-color-error-light) !important;
  border: 2px solid var(--toastify-color-error) !important;
}

/* Estilo para el toast de loading */
.Toastify__toast--loading,
.Toastify__toast-theme--colored.Toastify__toast--loading,
.Toastify__toast--loading.Toastify__toast--default,
.Toastify__toast--loading.Toastify__toast--info,
.Toastify__toast--loading.Toastify__toast--success,
.Toastify__toast--loading.Toastify__toast--warning,
.Toastify__toast--loading.Toastify__toast--error {
  background-color: var(--toastify-color-info-light) !important;
  border: 2px solid var(--toastify-color-info) !important;
  border-radius: 4px !important;
  color: var(--toastify-color-info) !important;
  margin: 8px !important;
  min-height: 60px !important;
}

.Toastify__toast-theme--light.Toastify__toast--loading {
  border: 2px solid var(--toastify-color-info) !important;
  border-radius: 4px !important;
  background-color: var(--toastify-color-info-light) !important;
}

.Toastify__progress-bar {
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar-theme--light {
}
.Toastify__progress-bar-theme--dark {
}
.Toastify__progress-bar--info {
  position: absolute !important;
  left: 4% !important;
  width: 92% !important;
  background-color: var(--toastify-color-info) !important;
}
.Toastify__progress-bar--success {
  position: absolute !important;
  left: 4% !important;
  width: 92% !important;
  background-color: var(--toastify-color-success) !important;
}
.Toastify__progress-bar--warning {
  position: absolute !important;
  left: 4% !important;
  width: 92% !important;
  background-color: var(--toastify-color-warning) !important; 
}
.Toastify__progress-bar--error {
  position: absolute !important;
  left: 4% !important;
  width: 92% !important;
  background-color: var(--toastify-color-error) !important;
}

.Toastify__progress-bar--loading {
  position: absolute !important;
  left: 4% !important;
  width: 92% !important;
  background-color: var(--toastify-color-info) !important;
}
/** colored notifications share the same progress bar color **/
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
  position: absolute !important;
  padding: 0.25rem !important;
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 0.7 !important;
}
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.slider-thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.range-slider-thumb::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  border: 3px solid var(--color-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

.range-slider-thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  border: 3px solid var(--color-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

.range-slider-thumb::-webkit-slider-track {
  background: transparent;
}

.range-slider-thumb::-moz-range-track {
  background: transparent;
}